@model Locadora.Models.Filme

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes do Filme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
        }

        h4 {
            color: #007bff;
        }

        .container {
            max-width: 600px;
        }

        .action-links {
            margin-top: 20px;
        }

            .action-links a {
                margin-right: 10px;
                color: #fff; /* Cor do texto no botão */
            }

                .action-links a.btn-primary:hover,
                .action-links a.btn-secondary:hover {
                    color: #fff; /* Cor do texto no botão durante o hover */
                }
    </style>
</head>
<body>

    <div class="container">
        <h4>Filme</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FilmeID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FilmeID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sobre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sobre)
            </dd>
        </dl>
    </div>

    <div class="action-links">
        @Html.ActionLink("Editar", "Edit", new { id = Model.FilmeID }, new { @class = "btn btn-primary" }) |
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>

</body>
</html>
